AsyncFileIOWinForm/AsyncFileIOWinForm/bin/Debug/AsyncFileIOWinForm.exe.config
AsyncFileIOWinForm/AsyncFileIOWinForm/bin/Debug/AsyncFileIOWinForm.vshost.exe.config
AsyncFileIOWinForm/AsyncFileIOWinForm/bin/Debug/AsyncFileIOWinForm.vshost.exe.manifest
AsyncFileIOWinForm/AsyncFileIOWinForm/obj/Debug/AsyncFileIOWinForm.MainForm.resources
AsyncFileIOWinForm/AsyncFileIOWinForm/obj/Debug/AsyncFileIOWinForm.Properties.Resources.resources
AsyncFileIOWinForm/AsyncFileIOWinForm/obj/Debug/AsyncFileIOWinForm.csproj.FileListAbsolute.txt
AsyncFileIOWinForm/AsyncFileIOWinForm/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AsyncFileIOWinForm/AsyncFileIOWinForm/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AsyncFileIOWinForm/AsyncFileIOWinForm/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
